* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  border-bottom: rgb(172, 168, 168) solid 1px;
  margin-bottom: 40px;
  background-color: white;
}

.rockettss {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

.img-h1 {
  display: flex;
  gap: 2rem;
}

.logo1 {
  display: flex;
  align-items: center;
  width: 7%;
}

h1 {
  display: flex;
  justify-self: center;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

h1 a {
  text-decoration: none;
}

.rocket-name {
  align-items: center;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  padding: 0 1rem;
  font-size: 1.3rem;
  list-style-type: none;
  color: rgb(22, 61, 238);
  margin-top: 0.5rem;
}

li a {
  text-decoration: none;
}

.img-container {
  width: 20%;
  padding-top: 1rem;
}

.selected {
  text-decoration: underline;
  color: rgb(150, 52, 7);
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 60%;
  gap: 0.8rem;
}

.buttonx {
  padding: 0.6rem;
  color: #fff;
  background-color: rgb(76, 76, 247);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 18%;
  font-weight: 700;
}

.manyinone {
  padding-bottom: 2rem;
}

button:focus {
  background-color: #fff;
  border: 2px solid #000;
  color: rgb(82, 74, 74);
}

.reserved {
  background-color: rgb(233, 21, 6);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 8%;
  font-size: 13px;
}

.btn {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 11px;
  cursor: pointer;
}

.btn-red {
  border: 2px solid red !important;
}

.btn-gray {
  border: 2px solid gray !important;
}

.badge-active {
  color: white;
  background-color: #19a2b8;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
}

.badge-unenable {
  color: white;
  background-color: gray;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
}

.min-width {
  width: 100px;
}

.text-center {
  text-align: center !important;
}

#missions {
  width: 90%;
  border-radius: 1em !important;
  margin: auto;
  border-collapse: collapse;
}

#missions caption {
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  padding: 8px;
}

.table-missions {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.table-missions th,
.table-missions td {
  padding: 5px;
  border: 1px solid gray;
  text-align: start;
}

#missions td {
  border: 1px solid gray;
  padding: 10px;
}

.profile-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.table-missions tbody tr:nth-child(odd) { background-color: #f2f2f2; }

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 2s, top 2s;
}

.shadow-bottom {
  box-shadow: 0 4px 9px gray !important;
}


#dragons {
  width: 90%;
  border-radius: 1em !important;
  margin: auto;
  border-collapse: collapse;
}

#dragons caption {
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  padding: 8px;
}

.table-dragons {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.table-dragons th,
.table-dragons td {
  padding: 5px;
  border: 1px solid gray;
  text-align: start;
}

#dragons td {
  border: 1px solid gray;
  padding: 10px;
}

.table-dragons tbody tr:nth-child(odd) { background-color: #f2f2f2; }

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 100% !important;
  }
}
